[user]
  name = Thomas Duerr
  email = thomduerr@gmail.com
[alias]
  co = checkout
  st = status
  ci = commit
  br = branch
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  changes = diff --name-status -r
  diffstat = diff --stat -r
  diff-grep = !git-diff-grep
  l = log --all --oneline --graph --abbrev-commit --decorate
  lg1 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg3 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(blue)%d%C(reset)%n''          %C(white)%s%C(reset) %C(yellow)— %an%C(reset)%n' --abbrev-commit
  lg4 = log --graph --pretty="tformat:%C(yellow)%h%Creset %Cgreen(%ar)%Creset %C(bold blue)<%an>%Creset %C(red)%d%Creset %s"
  lg = !"git lg1"
  type = cat-file -t
  dump = cat-file -p
  ls = ls-files
  ign = ls-files -o -i --exclude-standard
  cat = cat-file
  div = divergence
  cl = changelog
  root = !pwd
[color]
  ui = auto
[core]
  excludesfile = /Users/thomd/.gitignore
  editor = vim
  # make `git rebase` safer on osx
  # see http://www.git-tower.com/blog/make-git-rebase-safe-on-osx
  trustctime = false
[merge]
  tool = vimdiff
[github]
  user = thomd
[push]
  default = simple
