.DS_Store
*.bak
*.old
*.swp
.settings
.svn
log/*
.texpadtmp
TODO
.files
.vagrant
node_modules
npm-debug.log
.gradle
.classpath
eclipse/
server.pid
.sass-cache/
.metadata
DemandwareServer
.module-cache
*.class
.alm
# Codenvy files
.codenvy/misc.xml
.vfs/
.bash_private
__pycache__
