.DS_Store
*.bak
*.old
*.swp
.settings
.svn
log/*
.texpadtmp
TODO
*.todo
*.todo.md
!SETUP.todo
.files
.vagrant
node_modules
npm-debug.log
.gradle
.classpath
eclipse/
server.pid
.sass-cache/
.metadata
DemandwareServer
.module-cache
*.class
.alm
.codenvy/misc.xml
.vfs/
.bash_private
__pycache__
.ipynb_checkpoints
.pytest_cache
